body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}
.main-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}