*{
    background-color: rgb(235, 201, 207);
}
.container { 
    margin: 50px auto; 
    width: 300px; 
}
textarea { 
    width: 100%; 
    height: 100px; 
    background-color: rgb(241, 231, 241);
    border: solid rgb(211, 113, 129);
    border-radius: 0px 20px;
}